{{#if recipe}}
<ul>
  {{#each recipe}}
  <div class="collection">
    <div class="collection-item">
      <a class='black-text' href="/recipes/{{id}}">
        <strong>Recipe:</strong> {{ title }}
      </a>
    </div>
  </div>
  {{/each}}
</ul>
{{/if}}


{{!-- {{#each recipe}}
<div class="collection">
  <div class="collection-item">
    <a class='black-text' href="/recipes/{{id}}">
      {{ content }}
    </a>
  </div>
</div>
{{/each}} --}}

{{!-- {{#each recipe}}
<div class="card">
  <div class="card grey darken-3">
    <div class="card-content white-text">
      <a class="card-title" href="/recipes/{{id}}"></a>
      Title: {{ title }} <br>
      Ingredients: {{ ingredients }} <br>
      Instructions: {{ instructions }} <br>
    </div>
  </div>
</div>
{{/each}} --}}

{{!-- {{!-- <strong>Ingredients: </strong>{{ ingredients }} <br> -- Omit to keep homepage clean}}
{{!-- <strong>Instructions: </strong>{{ instructions }} <br> -- Omit to keep homepage clean}} --}}